.menu {
  padding-top: 20px;
  display: flex;
  column-gap: 16px;
}

.link {
  color: var(--secondary-color);
  font-size: 24px;
  line-height: 1.5;
  padding: 12px;
}

.active {
  color: var(--secondary-color);
}
