.friends-list {
  width: 100%;
  display: flex;
  column-gap: 16px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.friends-list .item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  border: 2px solid var(--secondary-color);
  border-radius: 16px;
  padding: 16px;
}

.friends-list .avatar {
  width: 100px;
  height: 100px;
}

.friends-list .name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.friends-list .status {
  font-size: 16px;
  font-weight: 600;
}

.friends-list .online {
  color: var(--status-online-color);
}

.friends-list .offline {
  color: var(--status-offline-color);
}
